@import '../assets/input.sass';
@import '../assets/checkbox.sass';
@import '../assets/note.sass';
@import '../assets/buttons.sass';

body {
  font-family: 'Roboto', sans-serif;  
}

.nk-container {
  font-family: 'Roboto', sans-serif;
  margin: 3% 5% 5% 3%; 
}

.nk-header {
  font-family: 'Roboto', sans-serif;
  font-size: 48px; 
}

.nk-subheader {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-bottom: 2%;   
}

hr {
  opacity: 0.4;  
}
